<div class="column is-one-quarter">
  <div class="card">
    <div class="card-image">
      <% if product.image.present? %>
        <%= image_tag(product.image) %>
      <% end %>
    </div>
    <div class="card-content">
      <p class="title is-5"><%= product.name %></p>

      <div class="content">
        <p class="subtitle is-6">Price: <%= number_to_currency product.salePrice / 100.0 %></p>
      </div>

      <%= link_to product, class: "button is-info is-outlined is-fullwidth" do %>
        <span class="icon-text">
          <span class="icon">
            <ion-icon name="eye-outline"></ion-icon>
        </span>
          <span>View</span>
        </span>
      <% end %>
    </div>
  </div>
</div>