<p>
  Found <%= pluralize(@products.size, 'result') %>
  for the search term "<%= params[:search_term] %>".
</p>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
             collection: @products,
             locals: { show_link: true } %>
</div>